/Blog-Website/server/node_modules
/Blog-Website/server/package-lock.json
/Blog-Website/server/yarn.lock
/Blog-Website/server/.env

/Blog-Website/client/node_modules
/Blog-Website/client/package-lock.json
/Blog-Website/client/yarn.lock
/Blog-Website/client/.env

/ECommerce-Website/server/node_modules
/ECommerce-Website/server/package-lock.json
/ECommerce-Website/server/yarn.lock
/ECommerce-Website/server/.env

/ECommerce-Website/client/node_modules
/ECommerce-Website/client/package-lock.json
/ECommerce-Website/client/yarn.lock
/ECommerce-Website/client/.env

/Inshorts-Clone/server/node_modules
/Inshorts-Clone/server/package-lock.json
/Inshorts-Clone/server/yarn.lock
/Inshorts-Clone/server/.env

/Inshorts-Clone/client/node_modules
/Inshorts-Clone/client/package-lock.json
/Inshorts-Clone/client/yarn.lock
/Inshorts-Clone/client/.env

/tesla-clone/server/node_modules
/tesla-clone/server/package-lock.json
/tesla-clone/server/yarn.json
/tesla-clone/server/.env

/tesla-clone/client/node_modules
/tesla-clone/client/package-lock.json
/tesla-clone/client/yarn.lock
/tesla-clone/client/.env

/CRUD-application/crud-app/node_modules
/CRUD-application/crud-app/package-lock.json
/CRUD-application/crud-app/yarn.lock
/CRUD-application/crud-app/.env

/CRUD-application/crud-service/node_modules
/CRUD-application/crud-service/package-lock.json
/CRUD-application/crud-service/yarn.lock
/CRUD-application/crud-service/.env

/google-docs-clone/server/node_modules
/google-docs-clone/client/package-lock.json
/google-docs-clone/client/yarn.lock
/google-docs-clone/client/.env

/todo-list/server/node_modules
/todo-list/server/package-lock.json
/todo-list/server/yarn.lock
/todo-list/server/.env

/todo-list/client/node_modules
/todo-list/client/package-lock.json
/todo-list/client/yarn.lock
/todo-list/client/.env

/gmail-clone/server/node_modules
/gmail-clone/server/package-lock.json
/gmail-clone/server/yarn.lock
/gmail-clone/server/.env

/gmail-clone/client/node_modules
/gmail-clone/client/package-lock.json
/gmail-clone/client/yarn.lock
/gmail-clone/client/.env